@font-face {
    font-family: 'Lineal';
    src: url('/styles/fonts/Lineal-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
  }
  @font-face {
    font-family: 'Lineal';
    src: url('/styles/fonts/Lineal-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
  }
  @font-face {
    font-family: 'Lineal';
    src: url('/styles/fonts/Lineal-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
  }
  @font-face {
    font-family: 'Lineal';
    src: url('/styles/fonts/Lineal-Black.ttf') format('truetype');
    font-weight: 900; /* Black */
  }
  
  :root {
    --pgc-blue-main: #305DF6;
    --pgc-blue-alt: #29447B;
    --pgc-black-main: #000001;
    --pgc-base-white: #FFFFFF;
    --pgc-off-white: #F2F2F2;
  }
  
  body {
    font-family: 'Lineal', sans-serif;
    background-color: var(--pgc-off-white);
    color: var(--pgc-black-main);
    margin: 0; /* Ensure no margin on body */
    padding-top: 4rem; /* Add padding to prevent content overlap with fixed header */
  }
  
  .textTransform {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  