.header {
    background-color: var(--pgc-black-main);
    color: var(--pgc-base-white);
    padding: 1rem 0; /* Adjust padding to ensure space at top and bottom */
    font-family: 'Lineal', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .logo h1 {
    margin: 0;
    padding: 0 1rem; /* Add padding to ensure it doesn't touch the edge */
  }
  
  .nav {
    display: flex;
    list-style: none;
  }
  
  .nav ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin-left: 1rem;
  }
  
  .nav a {
    color: var(--pgc-base-white);
    text-decoration: none;
    padding: 0 1rem; /* Add padding to links to ensure they don't touch edges */
  }
  
  .menuToggle {
    background: none;
    border: none;
    color: var(--pgc-base-white);
    cursor: pointer;
    font-size: 1rem;
    display: none;
    padding: 0 1rem; /* Add padding to ensure it doesn't touch the edge */
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
    .nav {
      display: none;
      flex-direction: column;
    }
    
    .nav.open {
      display: flex;
    }
    
    .menuToggle {
      display: block;
    }
  }
  